include INSTALL LICENSE VERSION
include README.md USAGE.md history.md building.md
include system_info.sample.h
# The 'graft src' command has the useful flexibility of copying a custom
# system_info.h if one exists, and not fussing if there isn't one present.
graft src
graft build_support
graft tests
# I use recursive-include instead of graft so that I don't accidentally
# include any compiled object files or executables that might be laying around
# on my hard drive.
recursive-include demos *.h *.c *.py *.sh *.png *.txt *.md

global-exclude .DS_Store
global-exclude *.py[cod]