include INSTALL LICENSE VERSION
include README.md USAGE.md history.md
include setup.py prober.py
include posix_ipc_module.c
recursive-include prober *.c
recursive-include demo *.h *.c *.py *.sh *.png *.txt *.md
recursive-include demo2 *.py *.txt *.png *.md
recursive-include demo3 *.py *.txt *.md
recursive-include demo4 *.py *.txt *.md
recursive-include demo5 *.py *.txt *.md
recursive-include tests *
global-exclude *.pyc
